@media only screen and (min-width: 768px)  and (max-width: 991px){
	.menu .menu-item{
		font-size: 20px;
		width: 20%;
		padding: 5px 0px;	
	}
	#logo{	
		width: 100%;
		padding: 5px 46vw 5px 46vw;
	}
	#logo img{
		width: 60px;
		height: auto;
	}
	#contact{
		width: 80%;
	}		
	.banner{
		width: 50%;
	}		
	#footer div h1{
		font-size: 30px;
		margin-top: 0px;
	}
	#footer div p{
		font-size: 15px;
		margin-top: 0px;
		margin-bottom: 5px;
	}		
	#footer div h3{
		font-size: 25px;
	}	
	#footer > div{
		padding-top: 20px;
	}	
	#footer{
		padding-bottom: 30px;
	}
	div[id^="section"] > div:first-child{
		padding-left: 10px;
		padding-right: 0px;
	}
	div[id^="section"]{
		margin-top: 40px;
	}
	div[id^="section"] > div:nth-child(2){
		margin-top: auto;
		margin-bottom: auto;		
	}
	#body-container{
		padding-bottom: 20px;
		padding-top: 1px;
	}
	body{
		padding-right: 20px;
		padding-left: 20px;			
	}	
	.row > div > p{
		font-size: 15px;
	}
	.row > div > p > b{
		font-size: 17px;
	}	
}		
