@media only screen and (min-width: 992px){
	#contact{
		width: 50%;
	}		
	#footer div h1{
		font-size: 35px;
		margin-top: 0px;
	}
	#footer div p{
		font-size: 20px;
		margin-top: 0px;
		margin-bottom: 0px;
	}		
	#footer div h3{
		font-size: 30px;
	}	
	#footer > div{
		padding-top: 20px;
	}		
	#footer{
		padding-bottom: 35px;
	}	
	.banner{
		width: 25%;
	}	
	.menu .menu-item{
		font-size: 20px;
		padding-bottom: 12.5px;
		padding-top: 12.5px;
	}	
	.right{
		float: right;
	}
	#logo img{
		height: 45px;
		width: 45px;
	}	
	.nav-link{
		font-size: 20px;		
	}	
	#scrollspy-nav > ul{
		margin: 15px auto;
	}
	#text{
		font-size: 17px;
	}
	#body-container{	
		margin-right: 200px; 
		margin-left: 200px;		
		height: 100%;
	}	
}

@media only screen and (min-width: 992px) and (max-width: 1426px){
	#body-container{
		margin-left: 100px;
		margin-right: 100px;
	}	
	.nav-link{
		font-size: 15px;		
	}	
	.img{
		margin-top: auto;
		margin-bottom: auto;
	}
	#content	
	{
		margin-bottom: 0px;
	}	
}