@media only screen and (min-width: 992px){
	#body-container{
		margin-left: 200px;
		margin-right: 200px;
	}		
	#contact{
		width: 50%;
	}		
	#footer div h1{
		font-size: 35px;
		margin-top: 0px;
	}
	#footer div p{
		font-size: 20px;
		margin-top: 0px;
		margin-bottom: 0px;
	}		
	#footer div h3{
		font-size: 30px;
	}	
	#footer > div{
		padding-top: 20px;
	}		
	#footer{
		padding-bottom: 35px;
	}	
	.banner{
		width: 25%;
	}	
	.menu .menu-item{
		font-size: 20px;
		padding-bottom: 12.5px;
		padding-top: 12.5px;
	}	
	.right{
		float: right;
	}
	#logo img{
		height: 45px;
		width: 45px;
	}
	.section > img{
		width: 50%;
		height: 100%;	
		margin-left: auto;
		margin-right: auto;	
		margin-bottom: 30px;
	}
	.section > h2{
		margin-bottom: 15px;
		margin-top: 15px;
		font-size: 40px;
	}
	.section > p{
		font-size: 20px;
	}
	#body-container{
		padding-left: 30px;
		padding-right: 30px;
	}			
}